
.channel-details {
    margin-bottom: 24px;
}

.title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
}

.channel-info {
    display: flex;
    margin-bottom: 12px;
}

.channel-title {
    font-size: 16px;
    font-weight: 500;
}

.sub-count {
    font-size: 12px;
    color: var(--color-gray);
}

.desc {
    padding: 12px;
    border-radius: 20px;
    background-color: var(--color-light-gray);
    font-size: 14px;
}

.desc.cursor {
    cursor: pointer;
}

.desc pre {
    font-family: "Roboto", sans-serif;
}

.count {
    margin-bottom: 8px;
}

.bold {
    font-weight: bold;
}

.bold:not(:last-child)::after {
    content: "•";
    margin: 0 4px;
    color: inherit;
}

.collapsed {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
}

.expanded {
    white-space: pre-wrap;
    overflow: visible;
}

.toggle {
    display: block;
    font-weight: bold;
    margin-top: 4px;
}

@media screen and (max-width: 992px) {
    .desc {
        border-radius: 12px;
    }
}