.flex {
    display: flex;
    background-color: var(--color-bg);
    padding: 0 24px;
    gap: 24px;
    padding-top: 24px;
    color: var(--color-text);
}

.left {
    position: relative;
    width: 70%;
}

.right {
    position: relative;
    width: 30%;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-bottom: 12px;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}