.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 16px;
    padding-top: 24px;
    column-gap: 16px;
    row-gap: 24px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 24px;
}