.container {
    position: relative;
    padding: 16px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 24px;
}

.comment-count {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 24px;
}

.comment-preview {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 8px;
    background-color: var(--color-light-gray);
    border-radius: 8px;
    max-height: 100px;
    overflow: hidden;
}

.close-button {
    font-size: 20px;
    font-weight: bold;
    z-index: 10;
    text-align: right;
    color: var(--color-text);
}

.expand-button {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: var(--color-text);
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0;
    }

    .list {
        padding: 8px;
        background-color: var(--color-light-gray);
        border-radius: 8px;
    }
    .flex {
        position: sticky;
        top: 68px;
        left: 0;
        z-index: 10;
        padding: 16px;
        background-color: var(--color-bg);
    }
    
    .comment-count {
        margin-bottom: 0;
    }
}
