.list {
    display: flex;
}

.flex {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 13px;
    margin-bottom: 5px;
}

.author {
    font-weight: bold;
}

.published {
    color: var(--color-gray);
}

.text {
    font-size: 14px;
}

.preview {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}